# -----------------------------------------------------------------------------
# C artifacts

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# -----------------------------------------------------------------------------
# Python artifacts

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# -----------------------------------------------------------------------------
# Additional artifacts
autoenv-enter.zsh
autoenv-leave.zsh

# clangd cache
.cache

# compile_commands.json
compile_commands.json

# gdb
.gdbinit
.gdb_history

# CTest temporary directory
Testing/

# Visual Studio Code
.vscode/

# Vim local config file
vimrc.local

# cmake_wrapper.sh is a script to force VSCode use conda environment.
cmake_wrapper.sh

# Jetbrains Intellij IDEA
.idea/

# Profiler results
callgrind*
*.lprof
profiler-results*

# Generated images and tables, binary files
assets*

# Memory profiles
memray*
memory*
