---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# To run manually, you can use:
# pre-commit run --all-files
#
# To run automatically as Git pre-commit hook:
# pre-commit install
#
# To run automatically as Git pre-push hook:
# pre-commit install --hook-type pre-push
#
# Warning: existing hooks in `.git/hooks` will be overwritten.

# These options are for the pre-commit.ci service integrated with GitHub.
ci:
    autofix_prs: false  # Do not automatically fix PRs using pre-commit.ci service
    skip: [julia-formatter]

default_stages: [pre-push]

repos:
    # General purpose hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-added-large-files

    # C
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v21.1.6
      hooks:
          - id: clang-format

    - repo: https://github.com/cheshirekow/cmake-format-precommit
      rev: v0.6.13
      hooks:
          - id: cmake-format

    # Python
    - repo: https://github.com/pycqa/isort
      rev: 7.0.0
      hooks:
          - id: isort
            name: isort (python)
            stages: [pre-push]

    - repo: https://github.com/pycqa/flake8
      rev: 7.3.0
      hooks:
          - id: flake8

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 25.11.0
      hooks:
          - id: black

    # YAML
    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.37.1
      hooks:
          - id: yamllint
            args: [--format, parsable, --strict]

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            args: [--preserve-quotes]

    # Julia
    - repo: https://github.com/domluna/JuliaFormatter.jl
      rev: v2.2.0  # or whatever the desired release is
      hooks:
          - id: julia-formatter

    # Sphinx documentation
    - repo: https://github.com/sphinx-contrib/sphinx-lint
      rev: v1.0.2
      hooks:
          - id: sphinx-lint
            args: [--enable=default-role]
            files: ^docs/
